body {
    margin: auto;
    background-color: #d66161;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.game-area {
    position: relative;
    width: 80vmin;
    height: 70vmin;
    border: 4px solid #d66161;
    background-color: beige;
    margin: auto;
}

.food {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: rgb(171, 20, 20);
    border-radius: 50%;
}

.snake {
    position: absolute;
    width: 2%;
    height: 2%;
}

.score-title {
    margin-bottom: 10px;
    color:aliceblue;
    text-align: center;
}

/* Styling for play/startpage button */
.btn-container {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.play-btn {
    background-color: #389100;
    color: #ffffff;
    margin: 0 auto;
    padding: 15px;
    margin-top: 10px;
    border: none;
    min-width: 200px;
    transition: 0.2s;
    text-transform: uppercase;
}

  .play-btn:hover{
    scale: 1.05;
  }
  /* Styling for play/startpage button */

@media screen and (min-width: 300px) and (max-width: 700px) {
    .score-title {
        font-size: 30px;
    }

    .btn-container {
    flex-direction: column;
    gap: 5px; 
  }

  .play-btn {
    min-width: 250px;
}
}

