.high-scores {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    margin-top: 20px;
    background-color: beige;
    font-family: "Poppins", sans-serif;
    text-align: center;
    border-radius: 8px;
    margin-top: 70px;
  }
  
  .high-scores__header {
    color: #d66161;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: 700;
    line-height: 0.9;
  }
  
  .high-scores__list {
    padding-left: 0;
    margin: 0;
  }
  
  .high-scores__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    font-size: 15px;
    padding: 10px;
    border-bottom: 1px solid #c9b39d;
  }
  
  .high-scores__title {
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  
  .high-scores__name,
  .high-scores__score {
    font-size: 15px;
  }
  
  .high-scores__score {
    font-weight: 700;
    color: #e16969;
  }
  