/*styles for login.jsx*/
.start-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*font-family: "VT323", monospace;*/
    font-family: "Poppins", sans-serif;
    background-color: beige;
    color: #d66161;
  }

.login-btn{
    background-color: #d66161;
    color: #ffffff;
    margin: 10px;
    padding: 15px;
    border: none;
    transition: 0.2s;
  }

  .link-text {
    text-decoration: none;
    color: #ffffff;
  }

  input {
    border: 2px solid #d66161;
    border-radius: 10px;
    outline:none;
    font-size: 16px;
    background-color: #fff8f0;
    color: #333;
    transition: border-color 0.3 ease, box-shadow 0.3 ease;
    padding: 12px 22px;
    text-align: center;
  }

  input:hover {
    background-color: #f5eee6;
  }